{% include 'navigation.html'%}
{% load static %}



<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Heeling Minds</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Poppins:wght@400;500&display=swap"
  rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=League+Spartan&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css"
      integrity="sha512-wR4oNhLBHf7smjy0K4oqzdWumd+r5/+6QO/vDda76MW5iug4PT7v86FoEkySIJft3XA0Ae6axhIvHrqwm793Nw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
    integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css" integrity="sha512-doJrC/ocU8VGVRx3O9981+2aYUn3fuWVWvqLi1U+tA2MWVzsw+NVKq1PrENF03M+TYBP92PnYUlXFH1ZW0FpLw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'index.css' %}">

<link rel="stylesheet" href="{% static 'media-query.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700&subset=latin-ext" rel="stylesheet">


  
 <header>
 
 <img src="{% static './images/doctor.png'%}" class="doctor">
 <div class="health-box"><h3 class="health"> Health</h3></div>
 
 <h1 class="heading1">Cannot decide which doctor to go to ?</h1>
 <h2 class="subheading1"> Take our symptoms test and book a free appointment</h2>
 <a href="{% url 'therapy'%}">
  <button class="test"> Symptoms Test</button></a>
</header>
<section class="servicess">
  <div class="provisions">
   <img class="whitediet" src="{% static './images/whitediet.png'%}">
   <img class="bluediet" src="{% static './images/bluediet.png'%}">
   <h1 class="type">Dieticians</h1>
   <h3 class="content"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus recusandae repudiandae dolor voluptates corrupti accusamus quidem quaerat sit debitis ab!</h3>
  </div>
  <div class="provisions provisions2">
    <img class="whitediet" src="{% static './images/drwhite.png'%}">
    <img class="bluediet" src="{% static './images/drblue.png'%}">
    <h1 class="type">General Doctors</h1>
   <h3 class="content"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus recusandae repudiandae dolor voluptates corrupti accusamus quidem quaerat sit debitis ab!</h3>
  </div>
  <div class="provisions">
    <img class="whitediet" src="{% static './images/mentalwhite.png'%}">
    <img class="bluediet" src="{% static './images/mentalblue.png'%}">
    <h1 class="type">Therapists</h1>
   <h3 class="content"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus recusandae repudiandae dolor voluptates corrupti accusamus quidem quaerat sit debitis ab!</h3>
  </div>
</section>
<section class="choose-us-page" >
  <div class="row">
      
      <div class=" chooseus" id="aboutus">
        <div class="aboutusbox"><h3 class="aboutus">What About us</h3></div>
        <img src="{% static './images/aboutdark.png'%}" class="aboutdark">
        <img src="{% static './images/aboutlight.png'%}" class="aboutlight">
         <h2 class="chooseushead" esz+
         54ewasz >
        About us

         </h2>
         <p class="chooseuscontent">
          In all human history, we have never lived better in terms of creature comforts, medical care,
connectivity tools, human rights, and world peace.
Our flight or fight mechanisms and tribal orientation evolved to survive the Savannah – not the
urban life. We give you comfort so that you can connect on high-quality video sessions with your
therapist from the comfort of your home. We want to optimize for enhanced mental well-being for
a maximum number of people.<br>
<br>
I am currently a licensed psychologist, and a member of the Indian Psychological Association,
and the National Register of Health Service Psychologists. After completing my medical degree I
attained a Masters's in Professional Counseling from All India Institute Of Medical Sciences,
Delhi. Later I spent 5 years studying at Walden University, USA, and completed my Ph.D. in
Health Psychology.<br>

         </p>
<a href="" class="learnmore">Learn more <i class="fa fa-arrow-right arrow"></i></a>
      </div> 
    
      <div class=" chooseusmount">
        
   
          <img src="{% static './images/aboutus2.png'%}" class="chooseusimg">
      </div>

  </div>

</section>
<a href="https://wa.me/919898989898" class="whatsapp_float" target="_blank"> <i class="fa fa-whatsapp whatsapp-icon"></i></a>

<section class="consultations">
  <div class="consult-box">
    <div class="consultation-box"><h3 class="consultation"> Consultation</h3></div>
<img src="{%static './images/dr3.png'%}" class="dr3">
<h1 class="head-consult">Get a free consultation!</h1>
<div class="container5">  
  <form id="contact"  method="post" >
    {% csrf_token %}
    <fieldset>
      <input placeholder="Name" type="text" tabindex="1" name="name" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder=" Email Address" type="email" name="email" tabindex="2" required>
    </fieldset>
    <fieldset>
      <input placeholder="Phone Number" type="tel" name="phone" tabindex="3" required>
    </fieldset>
    <fieldset>
      <input placeholder="Disease" type="text" tabindex="1" name="issue" required >
    </fieldset>
    <fieldset>
      <textarea name="message" placeholder="Message(optional)" tabindex="5" ></textarea>
    </fieldset>
   
    
   
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
   
  </form>
</div>

  </div>

</section>
<section class="ourservices">
  <div class="services-box"><h3 class="servicesmain"> Our services</h3></div>
  <img src="{%static './images/servicesdark.png'%}" class="servicesdark">
  <img src="{%static './images/serviceslight.png'%}" class="serviceslight"><h1 class="serviceshead">Explore our Main Services</h1>
<img src="{% static './images/arrow.png'%}">
<div class="services"><img src="{% static './images/doctor1.png'%}" class="doctor1">
<div class="number1">
<h1>01</h1>
</div>
<h2 class="service1">Free Consultation Service</h2>
<h3 class="service1content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam accusamus rerum quae ratione dolores iusto assumenda exercitationem natus, maxime odit?</h3>
</div>
<div class="services"><img src="{% static './images/doctor2.png'%}" class="doctor2">
<div class="number2">
  <h1>02</h1>
  </div>
  <h2 class="service1">Free Consultation Service</h2>
  <h3 class="service1content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam accusamus rerum quae ratione dolores iusto assumenda exercitationem natus, maxime odit?</h3>
  </div>
<div class="services"><img src="{% static './images/doctor3.png'%}" class="doctor3">
<div class="number3">
  <h1>03</h1>
  </div>
  <h2 class="service1">Free Consultation Service</h2>
  <h3 class="service1content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam accusamus rerum quae ratione dolores iusto assumenda exercitationem natus, maxime odit?</h3>
  
</div>

</section>
<section class="reachus">
  <div class="contact" id="webinars">
    <h1>
      Need professionals for webinars?
    </h1>
    <h2>
      Contact us!
    </h2>
    <div class="row">
      <div class="details">
        <img src="{% static './images/numb1.png'%}" class="detail-logos">
        
        <p class="detail-content">
          Found online therapy to be as effective or more have effective than traditional therapy.
        </p>
    
      </div>
      <div class="details">
        <img src="{% static './images/numb2.png'%}" class="detail-logos">
        
        <p class="detail-content">
          Percantage of clients experiencing clinically significant change within first 3 months.
        </p>
        </div>
        </div>
    <div class="container3">  
      <form id="contact"  method="post">
        {% csrf_token %}
        <fieldset>
          <input placeholder="Organisation name" type="text" tabindex="1" name="name" required autofocus>
        </fieldset>
        <fieldset>
          <input placeholder="Organisation Email Address" type="email" name="email" tabindex="2" required>
        </fieldset>
        <fieldset>
          <input placeholder="Organisation Phone Number (optional)" type="tel" name="phone" tabindex="3" >
        </fieldset>
        <fieldset>
          <select name="issue" id="cars"  >
            
            <option value="anxiety">Anxiety</option>
            <option value="depression">Depression</option>
            <option value="stress">Stress</option>
            <option value="eating-disorder">Eating-disorder</option>
            <option value="Relationship Problems">Relationship Problems</option>
            <option value="Health Problems">Health Problems</option>
            <option value="any other">Any other</option>
            
          </select>
        </fieldset>
        <fieldset>
          <select name="mode" id="cars"  >
            
            <option value="online">Online</option>
            <option value="offline">Offline</option>
            
          </select>
        </fieldset>
        <fieldset>
          <textarea name="message" placeholder="Topic of webinar" tabindex="5" required></textarea>
        </fieldset>
        <fieldset>
          <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
        </fieldset>
       
      </form>
    </div>

  </div>


 
</section>

<section class="seventhpage">
  <img src="{%static './images/reviewsdark.png'%}" class="reviewsdark">
  <img src="{%static './images/reviewslight.png'%}" class="reviewslight">
  <div class="reviews-box" ><h3 class="reviews"> Reviews</h3></div>
  <h1 class="section-heading7 wow slideInDown"id="testimonials">Good says from our customers</h1>
  
  <div class="container">
    <section id="testim" class="testim">
             <div class="testim-cover">
                <div class="wrap">
    
                    <span id="right-arrow" class="arrow right fa fa-chevron-right"></span>
                    <span id="left-arrow" class="arrow left fa fa-chevron-left "></span>
                    <ul id="testim-dots" class="dots">
                        <li class="dot active"></li><!--
                        --><li class="dot"></li><!--
                        --><li class="dot"></li><!--
                        --><li class="dot"></li><!--
                        --><li class="dot"></li>
                    </ul>
                    <div id="testim-content" class="cont">
                        
                        <div class="active">
                            <div class="img"><img src="https://in.bmscdn.com/iedb/artist/images/website/poster/large/kartik-aaryan-1045198-08-12-2017-06-34-11.jpg" alt=""></div>
                            <h2>Lorem P. Ipsum</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>                    
                        </div>
    
                        <div>
                            <div class="img"><img src="https://timesofindia.indiatimes.com/thumb/msid-75752690,width-800,height-600,resizemode-4/75752690.jpg" alt=""></div>
                            <h2>Mr. Lorem Ipsum</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>                    
                        </div>
    
                        <div>
                            <div class="img"><img src="https://p16.muscdn.com/img/musically-maliva-obj/1627333501517830~c5_720x720.jpeg" alt=""></div>
                            <h2>Lorem Ipsum</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>                    
                        </div>
    
                        <div>
                            <div class="img"><img src="https://p16-sg-default.akamaized.net/aweme/1080x1080/tiktok-obj/1666413671597057.jpeg" alt=""></div>
                            <h2>Lorem De Ipsum</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>                    
                        </div>
    
                        <div>
                            <div class="img"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSKLJe1Lrz2N3ufVSwQokSJ79jGBbIptXuVnsdxMmNUlE14ohwp&usqp=CAU" alt=""></div>
                            <h2>Ms. Lorem R. Ipsum</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>                    
                        </div>
    
                    </div>
    
                </div>
             </div>
        </section>
    </div>
   
    
  
</section>

  <footer class="footer theme-bg-primary wow fadeInLeft " id="foot">
    <div class="container6  py-5 mb-3 col-md-offset-2">
     <div class="row" style="margin-left: 20px">
       <div class="footer-col col-lg-3 contact-info">
         <h4 class="col-heading">CONTACT INFO
         </h4>
         <ul class="contacts">
            <li class="call">
                <a href="" class="phone">
                    <i class="fa fa-phone fa icon"> </i>98111189090
                  </a>
               
            </li>
            <li class="email">
                <a href="" class="mail">
                    <i class="fa fa-envelope fa icon"> </i>heelingminds@gmail.com
                  </a>
               
            </li>
         </ul>
         <ul class="social-list">
           <li class="list-inline-item">
             <a href="">
               <i class="fa fa-instagram fa-2x icons"></i>
             </a>
   
           </li>
           <li class="list-inline-item" >
             <a href="">
               <i class="fa fa-twitter fa-2x icons"></i>
             </a>
   
           </li>
           <li class="list-inline-item">
             <a href="">
               <i class="fa fa-facebook fa-2x icons"></i>
             </a>
   
           </li>
   
         </ul>
   
       </div>
       <div class="footer-col col-lg-3">
         <h4 class="col-heading">ABOUT US
         </h4>
         <ul>
           <li class="links" >
             <a href="{% url 'therapy'%}" class="link-head">
              Book a session
             </a>
   
           </li>
           <li class="links">
             <a href="#webinars" class="link-head">
              Book for webinars
             </a>
   
           </li>
           <li class="links">
             <a href="#testimonials" class="link-head">
               Testimonials
             </a>
   
           </li>
           <li class="links">
             <a href="https://wa.me/919898989898" class="link-head">
               Contact us
             </a>
   
           </li>
          
         </ul>
   
       </div>
       
       <div class="footer-col col-lg-3">
         <h4 class="col-heading">SUPPORT
         </h4>
         <ul>
           <li class="links">
             <a href="" class="link-head">
               Customer Support
             </a>
   
           </li>
           <li class="links">
             <a href="" class="link-head">
              Privacy & Policy
             </a>
   
           </li>
           <li class="links">
             <a href="" class="link-head">
               Contact Channels
             </a>
   
           </li>
          
         </ul>
   
       </div>
       <div class="footer-col col-lg-3">
         <h4 class="col-heading">PAY SAFELY WITH US
         </h4>
         
         <p class="about-us-para">
            The payment is encrypted and transmitted securely with an SSL protocol
         </p>
         <img src="{% static './images/razorpay.png'%}" class="footerlogo">
   
       </div>
   
     </div>

   
     </div>
     
     <div class="rights">
      <h3 class="right">Made by Tripti Chugh © All right reserved</h3>
      </div>
   
  
    
</footer>
  
   

   
  

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script  src="{%static 'js/wow.min.js'%}"></script>
<script
src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
crossorigin="anonymous"
referrerpolicy="no-referrer"
></script>	
<script>
  $(document).ready(function(){
     $(window).scrollTop(0);
 });
 </script>
 
<script>
$(document).ready(function() {
// Toggle menu on click
$("#menu-toggler").click(function() {
toggleBodyClass("menu-active");
});

function toggleBodyClass(className) {
document.body.classList.toggle(className);
}

});
</script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>






<script>
  'use strict'
var	testim = document.getElementById("testim"),
  testimDots = Array.prototype.slice.call(document.getElementById("testim-dots").children),
  testimContent = Array.prototype.slice.call(document.getElementById("testim-content").children),
  testimLeftArrow = document.getElementById("left-arrow"),
  testimRightArrow = document.getElementById("right-arrow"),
  testimSpeed = 4500,
  currentSlide = 0,
  currentActive = 0,
  testimTimer,
  touchStartPos,
  touchEndPos,
  touchPosDiff,
  ignoreTouch = 30;
;

window.onload = function() {

  // Testim Script
  function playSlide(slide) {
      for (var k = 0; k < testimDots.length; k++) {
          testimContent[k].classList.remove("active");
          testimContent[k].classList.remove("inactive");
          testimDots[k].classList.remove("active");
      }

      if (slide < 0) {
          slide = currentSlide = testimContent.length-1;
      }

      if (slide > testimContent.length - 1) {
          slide = currentSlide = 0;
      }

      if (currentActive != currentSlide) {
          testimContent[currentActive].classList.add("inactive");            
      }
      testimContent[slide].classList.add("active");
      testimDots[slide].classList.add("active");

      currentActive = currentSlide;
  
      clearTimeout(testimTimer);
      testimTimer = setTimeout(function() {
          playSlide(currentSlide += 1);
      }, testimSpeed)
  }

  testimLeftArrow.addEventListener("click", function() {
      playSlide(currentSlide -= 1);
  })

  testimRightArrow.addEventListener("click", function() {
      playSlide(currentSlide += 1);
  })    

  for (var l = 0; l < testimDots.length; l++) {
      testimDots[l].addEventListener("click", function() {
          playSlide(currentSlide = testimDots.indexOf(this));
      })
  }

  playSlide(currentSlide);

  // keyboard shortcuts
  document.addEventListener("keyup", function(e) {
      switch (e.keyCode) {
          case 37:
              testimLeftArrow.click();
              break;
              
          case 39:
              testimRightArrow.click();
              break;

          case 39:
              testimRightArrow.click();
              break;

          default:
              break;
      }
  })
  
  testim.addEventListener("touchstart", function(e) {
      touchStartPos = e.changedTouches[0].clientX;
  })

  testim.addEventListener("touchend", function(e) {
      touchEndPos = e.changedTouches[0].clientX;
    
      touchPosDiff = touchStartPos - touchEndPos;
    
      console.log(touchPosDiff);
      console.log(touchStartPos);	
      console.log(touchEndPos);	

    
      if (touchPosDiff > 0 + ignoreTouch) {
          testimLeftArrow.click();
      } else if (touchPosDiff < 0 - ignoreTouch) {
          testimRightArrow.click();
      } else {
        return;
      }
    
  })
}
</script>

<script>
new WOW().init();
</script>
</footer> 

</div>
