{% include 'navigation.html'%}
{% load static %}



<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Heeling Minds</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Poppins:wght@400;500&display=swap"
  rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=League+Spartan&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css"
      integrity="sha512-wR4oNhLBHf7smjy0K4oqzdWumd+r5/+6QO/vDda76MW5iug4PT7v86FoEkySIJft3XA0Ae6axhIvHrqwm793Nw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
    integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css" integrity="sha512-doJrC/ocU8VGVRx3O9981+2aYUn3fuWVWvqLi1U+tA2MWVzsw+NVKq1PrENF03M+TYBP92PnYUlXFH1ZW0FpLw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'index.css' %}">

<link rel="stylesheet" href="{% static 'media-query.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700&subset=latin-ext" rel="stylesheet">


  
 <header>
 
 
</header>
<section class="choose-us-page" >
  <div class="row">
      
      <div class=" chooseus">
        <img src="{% static './images/binoculars.png'%}" class="binoculars">
         <h2 class="chooseushead" esz+
         54ewasz >
        About us

         </h2>
         <p class="chooseuscontent">
          In all human history, we have never lived better in terms of creature comforts, medical care,
connectivity tools, human rights, and world peace.
Our flight or fight mechanisms and tribal orientation evolved to survive the Savannah – not the
urban life. We give you comfort so that you can connect on high-quality video sessions with your
therapist from the comfort of your home. We want to optimize for enhanced mental well-being for
a maximum number of people.<br>
<br>
I am currently a licensed psychologist, and a member of the Indian Psychological Association,
and the National Register of Health Service Psychologists. After completing my medical degree I
attained a Masters's in Professional Counseling from All India Institute Of Medical Sciences,
Delhi. Later I spent 5 years studying at Walden University, USA, and completed my Ph.D. in
Health Psychology.<br><br>
I have taught multiple psychology courses and have practiced in clinical psychology, psychology
of physical medicine, and rehabilitation for thirty years. I treated numerous patients in private
settings, hospitals, and outpatient clinics during that time. I draw on a variety of evidence-based
methods to tailor and individualize treatment based on each client’s needs. I have a warm and
compassionate style in relating to my clients, while also encouraging and empowering them to
work towards their goals of building a ‘life worth living.

         </p>
<a href="" class="learnmore">Learn more <i class="fa fa-arrow-right arrow"></i></a>
      </div> 
    
      <div class=" chooseusmount">
          <img src="{% static './images/aboutus.png'%}" class="chooseusimg">
      </div>

  </div>

</section>
<a href="https://wa.me/919898989898" class="whatsapp_float" target="_blank"> <i class="fa fa-whatsapp whatsapp-icon"></i></a>

<section class="reachus">
  <div class="contact" id="webinars">
    <h1>
      Need professionals for webinars?
    </h1>
    <h2>
      Contact us!
    </h2>
    <div class="row">
      <div class="details">
        <img src="{% static './images/numb1.png'%}" class="detail-logos">
        
        <p class="detail-content">
          Found online therapy to be as effective or more have effective than traditional therapy.
        </p>
    
      </div>
      <div class="details">
        <img src="{% static './images/numb2.png'%}" class="detail-logos">
        
        <p class="detail-content">
          Percantage of clients experiencing clinically significant change within first 3 months.
        </p>
        </div>
        </div>
    <div class="container3">  
      <form id="contact"  method="post">
        {% csrf_token %}
        <fieldset>
          <input placeholder="Organisation name" type="text" tabindex="1" name="name" required autofocus>
        </fieldset>
        <fieldset>
          <input placeholder="Organisation Email Address" type="email" name="email" tabindex="2" required>
        </fieldset>
        <fieldset>
          <input placeholder="Organisation Phone Number (optional)" type="tel" name="phone" tabindex="3" required>
        </fieldset>
        <fieldset>
          <select name="issue" id="cars"  >
            
            <option value="anxiety">Anxiety</option>
            <option value="depression">Depression</option>
            <option value="stress">Stress</option>
            <option value="eating-disorder">Eating-disorder</option>
            <option value="Relationship Problems">Relationship Problems</option>
            <option value="any other">Any other</option>
            
          </select>
        </fieldset>
        <fieldset>
          <select name="mode" id="cars"  >
            
            <option value="online">Online</option>
            <option value="offline">Offline</option>
            
          </select>
        </fieldset>
        <fieldset>
          <textarea name="message" placeholder="Topic of webinar" tabindex="5" required></textarea>
        </fieldset>
        <fieldset>
          <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
        </fieldset>
       
      </form>
    </div>

  </div>


 
</section>
<section class="blog">
 
    <div class="section-heading2">
      <h2 class="blogs"> Blogs</h2>
  </div> 
  <div class="masonry">
    <div class="grid">
      <img class="blog-image" src="{% static './images/anxiety.jpg'%}">
      <div class="grid__body">
        <div class="relative">
          <a class="grid__link" target="_blank" href="" ></a>
          <h1 class="grid__title">Dealing with Anxiety Attacks</h1>
          
        </div>
        <div class="mt-auto" >
          <span class="grid__tag">Anxiety</span>
        </div>
      </div>
    </div>
    
    <div class="grid">
      <img class="blog-image" src="{% static './images/news.jpg'%}">
      <div class="grid__body">
        <div class="relative">
          <a class="grid__link" target="_blank" href="" ></a>
          <h1 class="grid__title"> Impact of watching news channels covering War 24x7</h1>
          
        </div>
        <div class="mt-auto" >
          <span class="grid__tag">news</span>
        </div>
      </div>
    </div>
    <div class="grid">
      <img class="blog-image" src="{% static './images/rs.jpg'%}">
      <div class="grid__body">
        <div class="relative">
          <a class="grid__link" target="_blank" href="" ></a>
          <h1 class="grid__title">Relationship Problems</h1>
          
        </div>
        <div class="mt-auto" >
          <span class="grid__tag">relations</span>
        </div>
      </div>
    </div>
    <div class="grid">
      <img class="blog-image" src="{% static './images/eatingdisorder.jpg'%}">
      <div class="grid__body">
        <div class="relative">
          <a class="grid__link" target="_blank" href="" ></a>
          <h1 class="grid__title"> Eating-disorder</h1>
          
        </div>
        <div class="mt-auto" >
          <span class="grid__tag">eatingdisorder</span>
        </div>
      </div>
    </div>
    <div class="grid">
      <img class="blog-image" src="{% static './images/depression.jpg'%}">
      <div class="grid__body">
        <div class="relative">
          <a class="grid__link" target="_blank" href="" ></a>
          <h1 class="grid__title">Depression</h1>
          
        </div>
        <div class="mt-auto" >
          <span class="grid__tag">depression</span>
        </div>
      </div>
    </div>
    
    </div>
    
    
      
    
    
  </div>
  
  
</section>
<!-- reviews -->
<section class="reviews" id="testimonials">
  <div class="section-heading2">
      <h2> Reviews</h2>
  </div>
  <div class="testimonial">
      <div class="container">
       <div class="testimonial__inner">
         <div class="testimonial-slider">
           <div class="testimonial-slide">
             <div class="testimonial_box">
               <div class="testimonial_box-inner">
                 <div class="testimonial_box-top">
                   <div class="testimonial_box-icon">
                     <i class="fa fa-quote-right"></i>
                   </div>
                   <div class="testimonial_box-text">
                     <p>Therapy with Felicity gave me a new lease on life. I was at the point of ending things & within
                      </p>
                   </div>
                   
                  <div class="testimonial_box-name">
                    <h4>John Doe</h4>
                 </div>
                 <div class="testimonial_box-job">
                   <p>MANAGER</p>
                 </div>
                 </div>
               </div>
             </div>
           </div>
           <div class="testimonial-slide">
            <div class="testimonial_box">
              <div class="testimonial_box-inner">
                <div class="testimonial_box-top">
                  <div class="testimonial_box-icon">
                    <i class="fa fa-quote-right"></i>
                  </div>
                  <div class="testimonial_box-text">
                    <p>Therapy with Felicity gave me a new lease on life. I was at the point of ending things & within</p>
                  </div>
                  
                 <div class="testimonial_box-name">
                   <h4>John Doe</h4>
                </div>
                <div class="testimonial_box-job">
                  <p>CEO</p>
                </div>
                </div>
              </div>
            </div>
          </div>
          <div class="testimonial-slide">
            <div class="testimonial_box">
              <div class="testimonial_box-inner">
                <div class="testimonial_box-top">
                  <div class="testimonial_box-icon">
                    <i class="fa fa-quote-right"></i>
                  </div>
                  <div class="testimonial_box-text">
                    <p>Therapy with Felicity gave me a new lease on life. I was at the point of ending things & within</p>
                  </div>
                  
                 <div class="testimonial_box-name">
                   <h4>John Doe</h4>
                </div>
                <div class="testimonial_box-job">
                  <p>Co-Founder</p>
                </div>
                </div>
              </div>
            </div>
          </div>
          <div class="testimonial-slide">
            <div class="testimonial_box">
              <div class="testimonial_box-inner">
                <div class="testimonial_box-top">
                  <div class="testimonial_box-icon">
                    <i class="fa fa-quote-right"></i>
                  </div>
                  <div class="testimonial_box-text">
                    <p>Therapy with Felicity gave me a new lease on life. I was at the point of ending things & within</p>
                  </div>
                  
                 <div class="testimonial_box-name">
                   <h4>John Doe</h4>
                </div>
                <div class="testimonial_box-job">
                  <p>SEO</p>
                </div>
                </div>
              </div>
            </div>
          </div>
         </div>
       </div>
      </div>
    </div>
</section>

  <footer class="footer theme-bg-primary wow fadeInLeft " id="foot">
    <div class="container5  py-5 mb-3 col-md-offset-2">
     <div class="row" style="margin-left: 20px">
       <div class="footer-col col-lg-3 contact-info">
         <h4 class="col-heading">CONTACT INFO
         </h4>
         <ul class="contacts">
            <li class="call">
                <a href="" class="phone">
                    <i class="fa fa-phone fa icon"> </i>98111189090
                  </a>
               
            </li>
            <li class="email">
                <a href="" class="mail">
                    <i class="fa fa-envelope fa icon"> </i>heelingminds@gmail.com
                  </a>
               
            </li>
         </ul>
         <ul class="social-list">
           <li class="list-inline-item">
             <a href="">
               <i class="fa fa-instagram fa-2x icons"></i>
             </a>
   
           </li>
           <li class="list-inline-item" >
             <a href="">
               <i class="fa fa-twitter fa-2x icons"></i>
             </a>
   
           </li>
           <li class="list-inline-item">
             <a href="">
               <i class="fa fa-facebook fa-2x icons"></i>
             </a>
   
           </li>
   
         </ul>
   
       </div>
       <div class="footer-col col-lg-3">
         <h4 class="col-heading">ABOUT US
         </h4>
         <ul>
           <li class="links" >
             <a href="{% url 'therapy'%}" class="link-head">
              Book a session
             </a>
   
           </li>
           <li class="links">
             <a href="#webinars" class="link-head">
              Book for webinars
             </a>
   
           </li>
           <li class="links">
             <a href="#testimonials" class="link-head">
               Testimonials
             </a>
   
           </li>
           <li class="links">
             <a href="https://wa.me/919898989898" class="link-head">
               Contact us
             </a>
   
           </li>
          
         </ul>
   
       </div>
       
       <div class="footer-col col-lg-3">
         <h4 class="col-heading">SUPPORT
         </h4>
         <ul>
           <li class="links">
             <a href="" class="link-head">
               Customer Support
             </a>
   
           </li>
           <li class="links">
             <a href="" class="link-head">
              Privacy & Policy
             </a>
   
           </li>
           <li class="links">
             <a href="" class="link-head">
               Contact Channels
             </a>
   
           </li>
          
         </ul>
   
       </div>
       <div class="footer-col col-lg-3">
         <h4 class="col-heading">PAY SAFELY WITH US
         </h4>
         
         <p class="about-us-para">
            The payment is encrypted and transmitted securely with an SSL protocol
         </p>
         <img src="{% static './images/creditcard-logo.png'%}" class="footerlogo">
   
       </div>
   
     </div>

   
     </div>
     

   
    <div class="ocean">
     <div class="wave"></div>
     <div class="wave"></div>
     <div class="wave"></div>
   </div>
    
</footer>
  
   

   
  

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script  src="{%static 'js/wow.min.js'%}"></script>
<script
src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
crossorigin="anonymous"
referrerpolicy="no-referrer"
></script>	
<script>
  $(document).ready(function(){
     $(window).scrollTop(0);
 });
 </script>
 
<script>
$(document).ready(function() {
// Toggle menu on click
$("#menu-toggler").click(function() {
toggleBodyClass("menu-active");
});

function toggleBodyClass(className) {
document.body.classList.toggle(className);
}

});
</script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>







<script>

   
  $(document).ready(function() {
  $('.testimonial-slider').slick({
      autoplay: true,
      autoplaySpeed: 3000,
      speed: 600,
      draggable: true,
      infinite: true,
      slidesToShow: 3,
      slidesToScroll: 1,
      arrows: false,
      dots: false,
      responsive: [
          {
            breakpoint: 991,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 1,
            }
          },
          {
              breakpoint: 480,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1,
              }
          }
      ]
  });
}); 

</script>

<script>
new WOW().init();
</script>
</footer> 

</div>
